<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.dao.ArticlesMapper">

	<select id="seletOneById" parameterType="Integer" resultType="Articles">
		select * from articles a where a.id = #{id}
	</select>	
	
</mapper>